*{
  box-sizing: border-box;
  margin:0;
 padding:0;
}
/* NAVBAR*/
 .navHeader{
    border: 3px solid #0a0a0a;
    background-color: rgb(77, 74, 74);
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
}
 .logoHeader{
  height: 8vh; 
  margin: 1vh; 
 }
 .logoCarrito{
  height: 5vh;
  margin-top: 2vh;
 }
.navHeader button{
  margin-top: 3vh;
}


/*ITEM LIST CONTAINER*/
.tituloLista{
  font-family: fantasy;
  margin: 5%;
  font-size: 150%;
  text-align: center;
}
.card-item{
  float: left;
  width: 30%;
  border: solid green;
  text-align: center;
  overflow: hidden;
  padding: 1%;
}
.card-item img{
  width: 30%;
  margin: 2%
}




/*ItemCoutn*/
.cantItem {
  display: flex;
  justify-content:space-evenly ;
  margin: 1%;
}